

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background-image: url("background.jpg");
   
    
    
}

.navbar-brand{

  
  color: #a36550;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.nav-item{
  
  color: #ec521e;
  
}


.church {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  background-image: url("backgroundCHURCH.jpg");
 
  /*
  max-width: 1700px;
  
  
  margin: 0 auto;*/
}

.bpictures {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  background-image: url("backgroundpictures.jpg");
 
  /*
  max-width: 1700px;
  
  
  margin: 0 auto;*/
}



.text-center {
  text-align: center!important;
  color: #ffffff;
}